<?xml version="1.0"?>
<config>
    <modules>
        <PackageName_BlankWidget>
            <version>0.1.0</version>
        </PackageName_BlankWidget>
    </modules>
    <global>
        <blocks>
            <packagename_blankwidget>
                <class>PackageName_BlankWidget_Block</class>
            </packagename_blankwidget>
        </blocks>
        <helpers>
            <packagename_blankwidget>
                <class>PackageName_BlankWidget_Helper</class>
            </packagename_blankwidget>
        </helpers>
    </global>
</config>